body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.calculator{
  background: #3a4452;
  padding: 20px ;
  border-radius: 10px;
    overflow: hidden;
}

.calculator form input { 
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
 box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
 background: transparent;
 font-size: 20px;
 color: #fff;
 cursor: pointer;
 margin: 10px;
}

.calculator form input:hover{
  opacity: 0.9;
  transform: scale(0.9);
}

.calculator form input:active{
  opacity: 0.4;
  transform: scale(0.7);
}

form .screen{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 20px 0 ;
}

.display { 
  pointer-events: none;
}

form .screen input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

#equal{
  width: 145px;
}

form input.opt{
  color: aqua;
}

@media screen and (max-width: 400px){
  
  .container .calculator{
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .calculator form input { 
    border: 0;
    width: 50%
    height: 50%;
    border-radius: 10px;
   box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
   background: transparent;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
   margin: 7px;
  }

  .btns{
    margin-bottom: 10%;
  }

  form .screen input{
    text-align: right;
    flex: 1;
    font-size: 50px;
    box-shadow: none;
    height: 90px;
    border: 1px outset rgba(255, 255, 255, 0.1);
    padding-right: 20px;
    margin:20px 0 0 0;
  }

  .calculator{
  background: #3a4452;
  padding: 2px ;
}

form input.opt{
  color: aqua;
}

#equal{
  width: 100%;
}

}
